body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    text-align: center;
}

.container {
    margin-top: 100px;
}

.menu {
    margin-top: 40px;
}

.btn {
    display: block;
    width: 300px;
    margin: 15px auto;
    padding: 15px;
    text-decoration: none;
    background-color: #2c3e50;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #34495e;
}

.logout {
    background-color: #c0392b;
}

.logout:hover {
    background-color: #e74c3c;
}